*{
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: #FFF1BD;
}

main{
    height: 100%;
    background-color: #FFF1BD;
}
body{
    background-color: #FFF1BD;
    height: 100%;
}
.container{background-color: white;}